@{
    ViewBag.Title = "Home Page";
}
<style>
    .background-image {
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px
    }

    .rightAlign {
        float: right;
    }

    .leftAlign {
        float: left;
    }
</style>

<div class="jumbotron background-image" style="background-image: url(https://res.cloudinary.com/hcoyle545/image/upload/v1540458070/VACE-welcome-picture-copy-min.jpg)">
</div>

<div class="jumbotron col-asdasdasdmd-12">
    <h1>Welcome to the VACE Education Online Learning Platform</h1>
    <p class="lead">
        This is an online learning system designed by English Communication Strategist Thu-Hoai Nguyen to help ambitious non-native English
        speakers master their English communication so they can speak confidently and powerfully,
        engage the room with their own personality, and break-through to their new levels.
    </p>

    <p class="lead"><a class="btn btn-primary btn-lg" href="https://vace-edu.com/">Find out more &raquo;</a></p>

</div>
<br />

<div class="leftAlign">
    <h2>Why do I need this Program?</h2>
    <br />

    <img class="background-image pull-right" src="https://res.cloudinary.com/hcoyle545/image/upload/v1540458100/thuNguyen2-min.jpg">
    <ul>
        <li class="lead li-index">
            Tired of having great ideas & skills but the world don’t know about them because your ability to communicate in English is getting in the way?
        </li>
        <li class="lead li-index">
            Need to upgrade your English Communication skills but don’t know where to start?
        </li>
        <li class="lead li-index">
            Do you have troubles organizing your thoughts into clear sentences or getting people to understand you in English?
        </li>
    </ul>
</div>




