@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/home-index.js"></script>

@*
    <div class="row justify-content-center align-items-center">
        <div class="jumbotron background-image col-md-12" style="background-image: url(https://res.cloudinary.com/hcoyle545/image/upload/v1540458070/VACE-welcome-picture-copy-min.jpg)">
        </div>

        <div class="jumbotron col-md-12">
            <h1>Welcome to the VACE Education Online Learning Platform</h1>
            <p class="lead">
                This is an online learning system designed by English Communication Strategist Thu-Hoai Nguyen to help ambitious non-native English
                speakers master their English communication so they can speak confidently and powerfully,
                engage the room with their own personality, and break-through to their new levels.
            </p>

            <p class="lead"><a class="btn btn-primary btn-lg" href="https://vace-edu.com/">Find out more &raquo;</a></p>

        </div>
        <br />

        <div class="jumbotron">
            <div class="leftAlign">
                <h2>Why do I need this Program?</h2>
                @*<br />*@
@*
                <ul>
                    <li class="lead li-index">
                        Tired of having great ideas & skills but the world don’t know about them because your ability to communicate in English is getting in the way?
                    </li>
                    <li class="lead li-index">
                        Need to upgrade your English Communication skills but don’t know where to start?
                    </li>
                    <li class="lead li-index">
                        Do you have troubles organizing your thoughts into clear sentences or getting people to understand you in English?
                    </li>
                </ul>
            </div>

            <img class="background-image" src="https://res.cloudinary.com/hcoyle545/image/upload/v1540458100/thuNguyen2-min.jpg">
        </div>
    </div>
*@





<section class="company-heading intro-type home-image darken" id="parallax-one">
    <div class="container">
        <div class="row product-title-info">
            <div class="col-md-9 centre-contents mb-5">
                <h1>Welcome to the VACE online learning platform</h1>
                <h3>Click below to find out what Thu can do for you</h3>
                <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <section><img class="banner-image" src="https://res.cloudinary.com/hcoyle545/image/upload/v1548146492/accreditation%20banner.jpg" /></section>
            </div>
        </div>
    </div>
    <div class="parallax" id="parallax-cta"></div>
</section>

<section id="section2" class="col-md-12 mt-5">
    <div class="container-fluid">
        <div class="col-sm-6 leftAlign padding-top-50">
            <h1 class="font-weight-bold mb-3">Why do I need this?</h1>
            <p class="mb-5">Aenean pharetra magna ac placerat vestibulum. Faucibus interdum posuere lorem ipsum dolor sit. Quis vel eros donec ac. Nisi quis eleifend quam adipiscing vitae proin sagittis.</p>
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h5>SOME HEADER</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-6">
                    <h5>SOME HEADER</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="w-100 h-100"></div>
                <div class="col-sm-6">
                    <h5>SOME HEADER</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-6">
                    <h5>SOME HEADER</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="row align-items-center mt-3 mb-3">
                <div class="col-sm-4">
                    <input type="button" value="LEARN MORE" class="form-control round-button">
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center rightAlign padding-top-50">
            <img class="img-fluid rounded-image" src="https://res.cloudinary.com/hcoyle545/image/upload/v1540458100/thuNguyen2-min.jpg">
        </div>

    </div>
</section>

        <footer id="footer" class="page-footer font-small special-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container">

                <!-- Social buttons -->
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1">
                            <i class="fab fa-google-plus-g"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1">
                            <i class="fab fa-linkedin-in"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->

            </div>
            <!-- Footer Elements -->
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2018 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->

        </footer>

<!-- Footer -->

<style>
    #footer {
        clear: both;
        position: relative;
        height: 40px;
        margin-top: -40px;
    }
</style>
